<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans

      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      ">


    <!--组件扫描器-->
    <context:component-scan base-package="com.course.realm"/>

    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.ServletContainerSessionManager">
        <!--超时时间 40min-->

    </bean>

    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie">
            <bean class="org.apache.shiro.web.servlet.SimpleCookie">
                <!--设置超时时间 单位 秒，一天=86400-->
                <constructor-arg value="shiro-cookie"/>
                <property name="maxAge" value="86400"/>
            </bean>
        </property>
    </bean>

    <!--自定义realm-->
    <bean id="loginRealm" class="com.course.realm.LoginRealm">
        <!--将凭证匹配器设置到realm中，realm按照凭证匹配器的要求进行散列-->
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>

    <!--配置 安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="loginRealm"/>
        <property name="sessionManager" ref="sessionManager"/>
        <property name="rememberMeManager" ref="rememberMeManager"/>
    </bean>

    <!-- 凭证匹配器 -->
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5"/>
        <property name="hashIterations" value="2" />
    </bean>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>

        <!-- 过虑器链定义，从上向下顺序执行，一般将/**放在最下边 -->
        <property name="filterChainDefinitions">
            <value>

                # 当访问/login时不需要进行认证（anon表示匿名）
                <!--/student/login = anon-->
                <!--/course_list = anno-->

                # 配置静态资源可以匿名访问
                /css/** = anon
                /js/** = anon
                /images/** = anon
                /fonts/** = anon

                <!--所有url都可以匿名访问-->
                /** = anon
        </value>
        </property>
    </bean>

</beans>